body {
  padding-top: 5rem;
  background-color: #b1f2c2;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.container{
  align-items: center;
}
.bg-dark{
  background-color: #bef7f2!important;
}

.navbar-dark .navbar-brand{
  color: black;
}
.navbar-dark .navbar-nav .active>.nav-link{
  color: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: black;
  text-decoration: underline;
}

.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: white;
}
.
