body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg-dark{
  background-color: pink!important;
}

.navbar-dark .navbar-brand{
  color: black;
}
.navbar-dark .navbar-nav .active>.nav-link{
  color: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: black;
  text-decoration: underline;
}

.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: white;
}
